{% extends "./layout.html" %}
{% load static %}
{% block body %}

<body>

    <img id="icon" src="{% static 'signup/images/whitequeen.png' %}" alt="">
    <div class="container">
        <div class="contents">
            <form action="{% url 'signup:login' %}" method="post">
                {% csrf_token %}
                <input class="textbox" id="name" type="text" placeholder="Player Name" name="player_name">
                <input class="textbox" id="pwd1" type="password" placeholder="Enter Password" name="password">
                <input class="button" type="submit" value="Log In">
            </form>

        </div>

    </div>

    <a href="{% url 'signup:signup' %}">New User? Click here to Sign up</a>
    {% if message %}
        <div class="message">
            {{ message }}
        </div>
        <script>
            let message_div = document.querySelector(".message");
            message_div.style.visibility = "visible";
        </script>
    {% endif %}

</body>
{% endblock %}